
<h1>About Us</h1>
<p>
Homeless Ivan is a project to make light of the world's homeless persons. Please understand that the creators and participators are not making this site to offend anyone. We are trying to bring back to the film world what comics like Mr. Bean, Buster Keaton, and Charlie Chaplin have worked so hard on.
</p>
