<% if signed_in? %>
  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
        <h1 class="micropost">What kind of mess should Homeless Ivan get into?</h1>
        <%= render 'shared/micropost_form' %>
   <%= render 'shared/feed' %>
      </td>
      <td class="sidebar round">
        <%= render 'shared/user_info' %>
      </td>
    </tr>
  </table> 
<% else %>
  <h1>Homeless Ivan</h1>

  <p>
    Please come and share your ideas about what should be done with Homeless Ivan. Watch him explore the world through the eyes of a Russian Immigrant who has lost his way. Well, I don't he really ever had a "way" but we'll see him try.
  </p>

  <%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
<% end %>
